<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">2023 Unwrapped</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">1 JAN 2024 · 4 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="sharath23.jpg" alt="image"/>
<br><br>
<p>The year of 2023 was a stunning year filled with plethora of things. From enjoyments to sacrifice, I experienced it all in the year. I'll describe the year in two halves.</p>

<p>The first half wasn't that great from career point of view, instead I had a great stint organizing competitions and going to trips. Our semester exams ended in January. In the same month, along with family members, I travelled through the Narmada district of Gujarat where we visited several temples, donated food to the needy and notably visiting the Statue of Unity of height 182m. After that me and my immediate Chinmay friend happened to visit Pune for completing our vacation. There we stayed at my Chinmay's cousin Parth's place and he guided us throughout Pune as we advanced through some of the most renowned places such as Shanivarwada, Swaminarayan Temple, ISKCON, Pune-Okoyama Friendship Garden among some of the prominent spots. Additionally, we visited some of our friends' colleges to meet them and tried a lot of delicacies at some of the famous food joints. Some of which included Raju Kaka's Chhole Bhature outside PICT college, fresh fruit soda at Harshwardhan Cold drinks, authentic biryani at Masaledaar biryani center, Sujata mastani, etc. We travelled throughout on Parth's EV and had great fun at especially night with fresh air and pleasant surroundings.</p>

<p>As our college started we orgranized two events, one was a 24 hours hackathon and other was a technical paper presentation. We stayed in the college for the entire night during hackathon and had a lot of fun playing FIFA and singing songs. In the technical paper event, there were some really good projects. Some of which were prototypes which would be further used to develop a full fledged product. We had a great time learning new things as presented by the speakers. In the month of May, me and my neighbour went to Imagica and covered all the rides in the 6 hours out there. The early morning trip was worth it.</p>

<p>Moving on to the second half, firstly me along with my family members visited Solapur and settled in Akkalkot to commence our trip to the holy places to Tuljapur, Pandharpur and Siddheshwar. The environment was very pleasing during travelling as well as inside the temples. I got a feeling of getting a fresh start to my career. I also met a couple of friends in Solapur and had a great time talking to them. After we came back, now it was time to focus on my career. The time rushed through really quickly in all these months and I took a lot of time thinking what to do. When I was thinking that I would not progress further in the coming months, the things went in completely opposite direction. There were a lot of things to brag about in the upcoming months.</p>

<p>Starting with our startup Swift Undergrads, we put into a lot of effort in uprising it by conducting various insightful webinars with the students and made some great connects there. We took our startup to a revenue if INR 20,000. That was a significant achievement compared to what we had thought. After that I learnt driving in the 20 days of July which indeed helped me a lot further during emergency situations. Now comes the actual turnaround. The person in me with not much progress revolutionalized his career. I took a time of a month or a two in polishing my skillset in tech. I was quick to implement each concept into real life projects and after I felt satisfied with my knowledge and hands-on work, I got 3 freelance web projects in hand out of which I am working on two of them till date. Later on, I went on to author a research paper and a book, both in Machine Learning through IEEE. It was a significant boost to my profile. Then I went on to do a couple of internships in Machine Learnign which gave me an exposure of industry based projects. I made some great contacts through my skillset in the 2nd half. Additionally, I qualified for the finals of the Smart India 2023 Hackathon through my college but couldn't lead our team to the grand finale. Neverthless, we learnt a lot while working with the project. Finally, I got 4 recommendation letters from my college and organizations I was working with. In the entire duration, I lost touch with many of my friends but it had to happen if I had to progress in my career and I believe that my true friends are always with me!</p>

<p>In these 6 months apart from professional life, I had a great personal life as well. For the first time, me and my colleagues from junior college decided to celebrate each other's birthdays. During Ganpati, I went to Mumbai and Pune's prominent Ganpatis along with my friends and to wrap up the year, we went on to watch a professional football game of the ISL of our home team. It was indeed the best half of all time of any year.</p>

<p>Overall, 2023 was a great year with a lot of fun in the first half and the 2nd half changing the course of my life. I have set certain goals for 2024 and wish to accomplish them in the same fashion I did in 2023.</p>
</div>
