<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">2024 Unwrapped</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">21 JAN 2025 · 4 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="monaco.jpg" alt="image"/>
<br><br>
<p>2024 was a complete package. From graduating to abroad trips to getting my dream role, I had all of it. Let's see how the year passed by in phases.</p>

<h5>January to March: Internships and Publications</h5>
<p>My ML internship was nearing its end in January. In the meantime, I had secured another internship in UI/UX which I did as a rehabiliation to ML. It went on for 3 months upto March where we designed the company's portfolio and aa couple of their product websites and collaborated with their frontend team for bringing that website live out of design. It was a fun experience working with people from different partss of the country. I also published a book consisting of ML tutorials which would go on to become the AI/ML curriculum of IT department of KJSCE.</p>
<p>I also had a trip to Wet N Joy in Lonavala in January with my classmates and we enjoyed the rides of both water park and theme park in the ticket. Student id benefits yk. </p>

<h5>April and May: An academic beast</h5>
<p>I was satisfied with the experiences I gained over the past few months and now it was the time to focus on academics. We completed our BE project, topped the department in grades. On the other hand, I would go on deliver my all time best performance in academics which increased my CGPA.</p>

<h5>June and July: Workation</h5>
<p>This was my best phase throughout the year as the fruits of the previous five months led to a research internship in France for 45 days plus vacations during weekends! Before thaat, I had a one last dance with my college mates with a trip to Lonavala (again) but we rented a villa for 2D, 1N and we spent majority of the time in the pool playing ball games. The night was reserved for netflix and chill and on the next day, we played card games and after vacating our rooms, we had a visit to Narayani Dham which soothened our mind and soul. On our way to the railway station, we got to play cricket on the ground for an hour and it was a full paisa vasool trip. A couple of days later, we attended our college's farewell and it was a happy ending of our graduation life.</p>
<p>Now it was the time for the best moment of my life, the trip to France. I was accompanied with 15 other people and we lived in 3 seperate apartments. There were 5 project groups allocated based on interviews. We had to work 9 to 5 in the research lab during weekdays. We had bought ample of groceries with ourselves and we used to cook food on our own. Whenever we got bored, we used to go to the nearby cafe and have some fastfood items. Food was never a problem. We met a lof of people there, mingled with them and shared various things about our cultures.</p>
<p>During the weekends, we had plenty of outings. We got to saw the Olympic torch bearing ceremony in our city. Such a great time to be there! In the further wekeneds, we planned trips to Switzerland, Nice, Monaco. This was the kind of experience I needed.</p>
<p>After our final presentation of our internship, we had organised a house part for our professors of the internship which was a glance of Indian culture and food. For the last 3 days, we moved to Paris where we got to watch Olympics for free, travelled through numerous spots and came back to India happily.</p>

<h5>August and Septemer: Grind and Goodbyes</h5>
<p>This phase involved job search and constantly upskilling myself to become a versatile IT professional. We even visted Trimbakeshwar Jyotirlinga temple in Nashik to seek blessings of Lord Shiva.</p>
<p>It was also the time that many of my friends were moving to abroad for higher studies and some were shifting to their new homes and some were migrating for their job. It was tough living without them, met them and we promised to meet whenever they were in Mumbai.</p>

<h5>October to December: The Corporate Conjurer</h5>
<p>I landed my dream role and shifted to Nagpur for the same. Got involved in tasks from different domains and this is what I was looking for. Learnt so many new things from colleagues. I got myself a bicycle from my first income which enabled me to explore the city. I loved the lifestyle of Nagpur. Peacful place plus less traffic and good climate.</p>
<br>

<p>Overall 2024 was an amazing year and in 2025, I get to explore much more in life.</p>
</div>
