<div class="container">
<div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
<div class="h1 text-white" style="display:inline-block;">The truth behind AI Engineer role</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">19 OCT 2024 · 4 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="dark-truth.avif" alt="image"/>
<br><br>
<p>Artificial Intelligence is a rapidly growing industry and the demand for AI Engineers has started to flourish. Before moving on to the reality, let me tell you about the scope of AI Engineering freshers as of October 2024.</p>

<p>When it comes to campus placements, there are hardly any recruitments for AI Engineers. The closely associated fields for which companies hire would be Data Scientist, Data Engineer and Data Analyst. So where should you apply for AI Engineering roles? The simple answer is, off campus. When you talk about MNCs, they are already well established and the only thing they need is manpower to keep their work going. There is less scope of innovation in these companies and they work on maintaining their existing solutions. Whereas, in small/medium level businesses, they are mostly in their early stages, so they are free to implement new technologies, so in these businesses or startups, they hire more AI Engineers. Now since there are Artificial Intelligence branches introduced in engineering, who knows in future companies will start recruiting AI Engineers in the campus itself.</p>

<p>Let's come back to the headline. The truth behind the AI Engineer role. You may think that AI is all about creating notebooks and that's it. Rest of the product is built by developers. That's completely wrong! Listen up. As an AI Engineer, you are expected to know about not only AI but also other things such as web development, cloud platforms, CI/CD pipelines, version control, a bit of operating systems, open source, networking knowledge too. So in short, you're not only an AI Engineer but a proper software engineer who specializes in AI and Python development. And what do web developers do then if AI engineers are doing everything? They only work on pure web development tasks such as maintaining the organization's website and all stuff. But the web solutions built using AI, you all have to do by yourself. In a proper AI project, there is very less AI code but you have to brainstorm a lot about thinking of the most appropriate solution. For example, which LLM model uses how many tokens, whether the provider has open source options available so that the data doesn't go into their servers and a lot more. So if you think, AI Engineering is all about building AI models, now you might have got the idea. So hoose wisely.</p>

<p>In such organizations, learning curve may seem steep, but it helps you in becoming a versatile software engineer who is capable of building and coming up with ideas you might have never imagined about. There is a huge scope of personal growth in these organizations and you even get personal attention from your peers and your higher ups. And such kind of exposure is much better and at the start you may feel that you aren't fitting here but as the time passes, slowly you'll adapt to everything. You won't regret your decision of not joining a MNC.</p>

<p>P.S.: I started working as a LLM software engineer recently and I felt that I'm the most appropriate person to tell about the AI Engineer role since I was selected mainly for my AI skills. I'll share more experiences about my role and surrounding life in further blogs.</p>


</div>