<div class="container">
<div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
<div class="h1 text-white" style="display:inline-block;">Best Data Science YouTuber</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="p-2 blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="p-2 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">27 DEC 2023 · 2 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="ds.jpeg" alt="image"/>
<br><br>

<p>I gained interest in machine learning while studying for my unit tests in one of the semesters. I didn't attend lectures so I had to study the concepts from YouTube. I found the theory and working behind the concepts quiet interesting, so after the exams I took up a couple of practical based machine courses on Udemy and took notes of each concept in my notebook. It took me 4-5 months to finish it since it was a lengthy course and in between there were lot of things going around. After the completion of the course, I worked on certain projects and found the code to be repititive. Machine learning based codes are like templates, you can use the same code for every project by just changing the variables. Since I was already into web development, I decided to take it to the next level by integrating machine learning models into web applications to create products out of it. I navigated through YouTube to see the working behind the WebML projects and found one channel which contained an entire WebML project playlist as I wanted.</p>

<p>The YouTube channel was CampusX, run by Nitish Singh with over 10 years experience in both the fields. I first watched his 'laptop price predictor' video and I was astounded in just 15 minutes. I got to learn a lot of new things such as feature engineering which I never learnt from Udemy courses. His explanation was top notch and could be understood by even people who just started coding. My misconception of considering the code repititive was vanished and I found different ways to approach a problem. That one video left a huge impression on me.</p>

<p>So I started solving different types of problems, did a couple of internships. Whenever I was stuck with a particular concept, I would always go through Nitish's videos to clear the concept. He literally has a video for everything needed by data science enthusiasts. I soon got addicted to his channel and started watching his other videos which were quiet useful in my journey. He also has different project based playlists which would help students in gathering the thought process behind every project.</p>

<p>For data science enthusiasts out there, if you currently are in your 1st to 5th semester of graduation and want to get into data science, I would recommend you'll to follow CampusX's channel for learning data science. For students studying in semesters 6, 7, 8 I won't recommend Nitish's channel for learning as his machine learning playlist is lengthy and you won't be able to devote your time into learning that much. Instead, I would recommend you to take up other shorter courses and wherever you're stuck, you can visit Nitish's channel for clearing your concepts.</p>

<p>Happy Learning!! :)</p>

</div>