{{! Recent Blog}}
<div class="row" id="latest">
  <div class="col-lg-12 card border-0 bg-transparent mt-3">
    <img class="card-img-top mx-auto d-block blogimg" src="django.webp" alt="image" , style="object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white" style="display:inline-block;">Journey into Django<img class="pb-2"
          src="new.png" style="height:50px;"></div>
      <div class="card-text">
        <p style="font-size: 18px;">I previously wanted to get into MERN Stack Development, but since transitioning into the field of AI, I have started working with Django frequently and...</p>
      </div>
      <div class="text-center"><a class="text-white" href="journey-into-django"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>
</div>
<hr>


{{! Other Blogs}}

<div class="row">

  {{!-- <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top mx-auto d-block" src="django.webp" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white">Journey into Django</div>
      <div class="card-text">
        <p style="font-size: 18px;">I previously wanted to get into MERN Stack Development, but since transitioning into the field of AI, I have started working with Django frequently and...</p>
      </div>
      <div class="text-center">
        <a class="text-white" href="journey-into-django">
          <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
      </div>
    </div>
  </div> --}}


  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top mx-auto d-block" src="scam.webp" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
      <div class="card-title h4 text-white">Internship Scam</div>
      <div class="card-text">
        <p style="font-size: 18px;">Nowadays, due to the increasing demand for tech and the majority being willing to
          get into the field of Computer Science, there has been an uprise of...</p>
      </div>
      <div class="text-center">
        <a class="text-white" href="internship-scam">
          <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="sharath23.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
      <div class="card-title h4 text-white">2023 Unwrapped</div>
      <div class="card-text">
        <p style="font-size: 18px;">The year of 2023 was a stunning year filled with plethora of things. From enjoyments
          to sacrifice, I experienced it all in the year. I'll describe the year in...</p>
      </div>
      <div class="text-center"><a class="text-white" href="2023-unwrapped"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="asc.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
      <div class="card-title h4 text-white">First stadium game experience</div>
      <div class="card-text">
        <p style="font-size: 18px;">I have been through stadiums a lot but it was mostly for the purpose of sports day
          or playing a club cricket game. I had never watched a professional game...</p>
      </div>
      <div class="text-center"><a class="text-white" href="first-stadium-game-experience"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="github.jpg" alt="image" style="height: 200px; object-fit:fill;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white">Deleting past GitHub commits</div>
      <div class="card-text">
        <p style="font-size: 18px;">Sometimes we might have a lot of commits in a particular GitHub repository and it
          looks kinda annnoying. In this case we might look to delete all the commits...</p>
      </div>
      <div class="text-center"><a class="text-white" href="deleting-past-github-commits"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="trip.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
      <div class="card-title h4 text-white">Wish I had this college life</div>
      <div class="card-text">
        <p style="font-size: 18px;">I am into my 4th year of engineering and I find myself doing well in both
          professional as well as personal life. In such situations, we usually tend to go…</p>
      </div>
      <div class="text-center"><a class="text-white" href="wish-i-had-this-college-life"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="ds.jpeg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white">Best Data Science YouTuber</div>
      <div class="card-text">
        <p style="font-size: 18px;">I gained interest in machine learning while studying for one of my university exams.
          I didn't attend lectures so I had to study the concepts from YouTube...</p>
      </div>
      <div class="text-center"><a class="text-white" href="best-data-science-youtuber"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top mx-auto d-block" src="resume.png" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
      <div class="card-title h4 text-white">Effective Resume tips</div>
      <div class="card-text">
        <p style="font-size: 18px;">Resume is like a fact file consisting of the details of your academic and
          professional excellence. For professionals to be able to shortlist candidates...</p>
      </div>
      <div class="text-center">
        <a class="text-white" href="effective-resume-tips-for-software-engineers">
          <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="sunset.avif" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
      <div class="card-title h4 text-white">Things I let go off in 2023</div>
      <div class="card-text">
        <p style="font-size: 18px;">As 2023 draws to a close, I find myself get rid of some things that troubled me
          previously. We usually tend to carry unnecessary burden that would…</p>
      </div>
      <div class="text-center"><a class="text-white" href="things-i-let-go-off-in-2023"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="community.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
      <div class="card-title h4 text-white">From a community to a startup</div>
      <div class="card-text">
        <p style="font-size: 18px;">Swift Undergrads is a community that I founded in 2022 which was started by me and
          two of my colleagues in 2021 formerly known as Admission...</p>
      </div>
      <div class="text-center"><a class="text-white" href="from-a-community-to-a-startup"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="ai.jpg" alt="image" style="height: 200px; object-fit:fill;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white">Artificial Intelligence Roadmap</div>
      <div class="card-text">
        <p style="font-size: 18px;">In this blog, I've cut short all the key topics which would help learners to master
          the domain of Artificial Intelligence and see what roles require...</p>
      </div>
      <div class="text-center"><a class="text-white" href="artificial-intelligence-roadmap"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="react.png" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
      <div class="card-title h4 text-white">ReactJS: Complete guide</div>
      <div class="card-text">
        <p style="font-size: 18px;">A tutorial in which you will learn to create, deploy and host a React App along with
          extra Git commands useful for deployment into production...</p>
      </div>
      <div class="text-center"><a class="text-white" href="reactjs-guide"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="orglinkedin.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
      <div class="card-title h4 text-white">Organize your LinkedIn</div>
      <div class="card-text">
        <p style="font-size: 18px;">LinkedIn is a widely used social networking platform around the globe for
          professionals. Not only you can secure a job or an internship...</p>
      </div>
      <div class="text-center"><a class="text-white" href="organize-your-linkedin"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>

  <div class="col-lg-4 card border-0 bg-transparent mt-3">
    <img class="card-img-top" src="stranger.jpg" alt="image" style="height: 200px; object-fit:cover;" />
    <div class="card-body text-left p-0">
      <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
      <div class="card-title h4 text-white">Dealing with a stranger</div>
      <div class="card-text">
        <p style="font-size: 18px;">Flashbacks to July 2020: It was the year when we were about to appear for our
          MHT-CET exam. Our exams had been already delayed by three months...</p>
      </div>
      <div class="text-center"><a class="text-white" href="dealing-with-a-stranger"><button type="button"
            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
    </div>
  </div>


</div>
<hr />