<div class="container">
<div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
<div class="h1 text-white" style="display:inline-block;">From a community to a startup</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">14 DEC 2023 · 4 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="community.jpg" alt="image"/>
<br><br>

<p>Recently, we made an announcement indicating that we no longer wish to continue with our startup Swift Undergrads. We had a great experience working with each other for over 2 years and some of the positives that I nurtured while running this community are going to be highlighted through this blog.</p>

<p>Swift Undergrads is a community that I founded in 2022 which was started by me and two of my colleagues in 2021 formerly known as Admission Procedure Guidance. It aims in guiding MHT-CET students particularly belonging to remote areas where there is a lack of guidance and knowledge among students. Starting this community stemmed up from the fact that I had done a lot of research during my admissions and the process went on smoothly from me. I had friends from all over the state and I observed that they made some wrong decisions which cost their desire and chances of studying in a prestigious institute. At the very moment I was clear that I wanted to bring a change in the society but I needed to wait upto a year since I was just a fresher. All of this happened in 2020.</p>

<p>So the next year I went on to contact my friend who had a good marketing base which would help us in creating our community. In our very first year we would go on to guide 800 students for free on telegram and we had some competitors from other communities too and this started the wave of career counselling for MHT-CET students.</p>

<p>We had garnered a lot of positive feedback in our first year and we wanted to carry on with the same momentum with a lot of plans for the upcoming year. In the next 4 months, we executed our plans which included expanding our team, constructing a brand name and logo, creating social handles and website and much more to make the community appear more professional. Our first stage was creating mock tests for students to assist them in their preparation, conducting regular doubt sessions with mentors and providing relevant study materials. This helped us in gaining a pre-counselling crowd and remaining were gathered through publicity. We came up with paid packages for counselling. The idea behind this was to make students realize the precious time invested by mentors so that no student takes it lightly. We achieved staggering stats that year by personal counselling of around 200 students with only 5 team members and lots of love from students.</p>

<p>That moment we felt satisfied from the fact that the purpose of starting this community had been fulfilled and were energetic for the upcoming year in 2023. In 2023, we went on expand our team from 5 to 13 members and create an advanced website. We worked with limited students that year as other team members had certain commitments towards their personal and professional life. It wasn't a satisfactory year and everyone were focusing towards their career. Our journey had to stop at a particular time so we called it off in December of the same year. But we had a lot of positives carried with us during our journey.</p>

<p>Swift Undergrads was the reason why I got into development and design and it helped me grab around 10 internship offers and a call up from one of my college committees for the role of graphic design. Additionally out of the data gathered during counselling, I modified it and used it in one of my research papers of data analysis which focused on the factors to be considered during admissions and predicting the accurate cutoffs using ML algorithms. It will be presented in 12th International System Modelling and Advancement in Research Trends 2023 conference to be held in Moradabad, Uttar Pradesh.</p>

<p>From soft skills point of view, I learnt to communicate with a large crowd which helped me release my stage fear and the ways of contacting organizations all of which helped me strengthen my position as the Head of Public Relations in IETE student forum of our college. So far every aspect of Swift Undergrads has had an immense value in my life and I hope that all this experience bears fruit while working towards my future endeavours.</p>

<p>Signing off!! :)</p>


</div>