<div class="container">
<div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
<div class="h1 text-white" style="display:inline-block;">Deleting past GitHub commits</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">30 DEC 2023 · 1 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="github.jpg" alt="image"/>
<br><br>

<p class="text-indent">Sometimes we might have a lot of commits in a particular GitHub repository and it looks kinda annnoying. In this case we might look to delete all the commits and start fresh with 0 commits. Here are the commands to do so and you can use the command prompt or VSCode or any other IDE's terminal for the same.</p>
<br>

<p>Navigating to the current working directory of the project</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>cd "directory-path"</code></div></div><br/>

<p>Creating a new branch</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git checkout --orphan new_branch</code></div></div><br/>

<p>Adding files into the repository</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git add .</code></div></div><br/>

<p>Commit message</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git commit -m "first commit"</code></div></div><br/>

<p>Deleting the main branch</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git branch -D main</code></div></div><br/>

<p>Renaming the new branch as the original branch</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git branch -m main</code></div></div><br/>

<p>Pushing the changes</p>
<div class="card bg-transparent border-white"><div class="card-body"><code>git push -f origin main</code></div></div><br/>
<br>

<p>Refresh the repository page and there you go. Now you have only 1 commit. Whenever you wish to delete commits further, you can follow same steps as above for all repositories. Remember, it only deletes the commits of a particular repository but while going through GitHub commit stats, no changes will be reflected.</p>

<p>I also created a blog on how to link your project file to a GitHub repository. Navigate to the "Pushing the code to GitHub" section of the below link to check the required commands.</p>
<a href="reactjs-guide" style="color:white; text-decoration:underline; font-size:21px">ReactJS: Complete Guide</a>
</div>
