<div class="container">
<div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
<div class="h1 text-white" style="display:inline-block;">Journey from ECE to AI Engineering</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">3 NOV 2024 · 8 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="ece-ai.webp" alt="image"/>
<br><br>

<p class="text-indent">In one of my previous blogs, I had described about the AI Engineer role. Now that I am working as an AI Engineer, I would love to reflect on the journey on how I obtained the role as an Electronics and Communication Engineer (ECE).</p>

<p>Let's start with my campus placements in semester 7. It ended where it started. I opted out of campus placements as I wanted to go for masters. So, I utilised the time in doing internships and building my profile. I completed my third internship in March during my semester 8. In the meantime, I had a research paper published through IEEE. And I also had secured an AI/ML research internship for 2 months after my graduation. Upto July everything was sorted out.</p>

<p>But then life took a different turn. I soon realised that I won't make it through the course I needed due to some drawbacks as a fresher. It was already April. I decided to postpone my post graduation plans and thought of obtaining a full-time role after the research internship. For once, I had thought of getting back into college placements. When I was going through the job descriptions, there weren't AI/ML engineer roles which was expected. The closest I could get into was Data Analytics roles. I was prepared for those roles but then a voice inside my head said, "Don't go for it even if you're prepared". When I evaluated my thoughts, I felt that I don't want to get into analytics roles as I have worked on it a lot and it won't be of any use since there is no logic building involved and the code template for all projects is the same. I wanted to expand my knowledge that's when I restricted my interests to pure AI and for that I had to go for off-campus roles.</p>

<p>I had to continue my learning process as it was a broader field. My research internship enabled me to carry on my learning process along with the project we had undertaken. After the internship, it was time to search for a full-time role as an AI engineer. It was really tough as I had certain demerits. Firstly, I was from ECE and it is rare for ECE engineers to get this role since organizations prefer computer science graduates. Next, there were very few AI engineering roles since it was flourishing. Then, it was the skills that they demanded. So I carried on my learning and building process. Every learning advancement was an upgrade to my profile and I constantly kept applying for roles apart from AI as well.</p>

<p>I was already anxious but I still kept going. I received calls from interviews. In some, I got rejected and in some, I decided to hold on since I was always waiting for that AI engineering role which I desired. I didn't get desperate for a job. I waited for the right opportunity. Finally after 2 months, an organization showed faith in me and after my evaluation, I joined them as a LLM Engineer. It was a dream come true since I got the dream role I needed and that long wait was worth it. I made it even after being deprived of the benefits during my graduation. I also didn't regret not going for masters since my colleagues desperately went for other courses due to them not getting their desired course. Also, this role adds a valuable experience to my profile since I'll get to learn a lot and implement.</p>

<p>I would love to share some key learnings that I obtained throughout this phase:</p>
<ul>
    <li>Focus on your skills rather than your degree. If you're good enough, you'll be approached by a lot of organizations for your skills irrespective of your educational background.</li>
    <li>Never rate yourself low on any skill during interview. In one of my interviews, I rated myself a 7 on cloud due to which I got rejected. So rate yourself high, even if you aren't much proficient in that skill, there is always a scope of improvement.</li>
    <li>Do a background check of any company when you apply. Go through, the domain in which they are working and prepare yourself accordingly. Be clear about how you can help them and what you'd need from them. I was selected for ML engineer role in a real-estate company. They asked me about what kind of data I'd need for helping them. Since, I had very little real-estate knowledge, I fumbled during the interview. So be prepared in such situations.</li>
    <li>Your first ever job is for your experience. Be ready to get out of your zone and migrate anywhere where you get a suitable role. Don't care about your income unless the expenditures are high and savings are low. I migrated to Nagpur for this role due to the benefits I'm getting from this role.</li>
    <li>The above point is an exception for those who can't leave their families due to some problems or due to financial stability. In this case, find yourself a suitable role nearby your home.</li>
    <li>Be patient. Don't get desperate for a job because you're not getting it. Wait for the right opportunity. It will come.</li>
    <li>Connect with people who have similar interests as you and make some projects in a group. This will help you evaluate the requirements of a project and you'll learn from each other a lot which will help you while working in an organization.</li>
    <br>
    <li>This point is about the required technical skills for core AI engineering roles if you need:
        <ol>
            <li>Python</li>
            <li>A backend Python framework (Fast API, Django, Flask)</li>
            <li>Language Models (Text, Vision, Speech)</li>
            <li>Natural Language Processing</li>
            <li>TensorFlow or PyTorch</li>
            <li>CI/CD Pipelines</li>
            <li>Containerization (Docker)</li>
            <li>A cloud platform (Azure, AWS, Google Cloud)</li>
            <li>Version control (Git)</li>
            <li>Optional skills: Frontend development, machine learning, computer vision</li>
        </ol>
    </li>
</ul>
</div>