<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">End of an Era</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">9 APR 2024 · 3 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="jadeja.jpeg" alt="image"/>
<br><br>
<p>As we come closer towards the end of our graduation, I would like to share my experiences gained in my 4 years of grauation from 2020 to 2024.</p>

<h4>1. College Life</h4>
<p>These 4 years may not be the best phase of my life but it taught me a lot. I sought admission into one of the best colleges of the state and was really satisfied with my choice. But things didn't go as expected. I fell in academics, failed to make friends, got constantly targeted by teachers and what not. There was a point where I literally was clueless on how to improve but I made a strong comeback. My grades began to improve every semester, got into leadership roles in my college socities, connected with a lot of people, led 3 group projects and handled them with ease. I had a small group and I was known as the jugadu as I could arrange for anything through talking. Teachers began to appreciate me for my grades, behaviour in class and a lot of my juniors prefer talking to me rather than my other colleagues. Although I don't talk to anyone much apart from college work but I had become a reliable friend for them in terms of technicality, food and travel suggestions, etc. Atleast I had some kind of personality development in my college. I don't tell any of them what I am upto, but when I accomplish something, I am the topic which many people gossip about and they appreciate me with a big heart.</p>

<h4>2. Professional Life</h4>
<p>I had a really bad approach towards my professional life. I was very lazy but things began to turn. I created a community for helping upcoming graduates in seeking admission into prestigious institutes in 2021 and we are still going strong and have avolved a lot. We expanded our team as well. This community laid a foundation for me while progressing further in my career. I decided to make myself technically sound in order to create some of the most important tools required to run the community and after gaining technical skills, I took it to the next level by making them a part of my future goals. After working on some personal and freelance projects, I gained some professional experience in my final year, took part in competitions and now I am confident of being able to survive anywhere purely based on my skillset and communication.</p>

<h4>3. Trips</h4>
<p>During Covid, we used to take out our bicycles and travel to numerous places with scenic beauty, green lush nature. It was a good rehabiliation from all the hectic weekdays we used to have due to college. 2022 was the year where I had my first solo trip to Pune and in 2023 I had another solo trip to Gujarat. Apart from that I visited numerous theme parks, various holy places in Mumbai, Pune and Solapur, etc.</p>

<h4>4. Friendship</h4>
<p>In the year 2020, I had made a lot of friends during the Covid phase. We had formed a WhatsApp group where we used to talk to each other a lot regularly, but I eventually left that group in 2021. I had a lot of personal contacts from the group and I am still connected with some of them. Apart from these friends, I created some friends in college, got to reconnect with a lot of school friends individually and we still talk with each other happily. School friendships are the best. People befriend you without having any expectations, conditions, etc. And finally, my junior college friends. Many people don't make friends in their junior college but I managed to win the hearts of all these people and I am the priority for all of them when it comes to life, career, relationship advice. I will cherish them for lifetime, may it be any situation.</p>
<br>
<p>To be honest, I am very happy that this phase is ending as I want to get out of college soon. I know I will lose contact with a lot of people, not only from my college but with all the other friends too. I'll miss them a lot. But it's time to move on and start a new journey towards professional life. I will always be there for all the people despite of our relations and I hope to have the dream life that I always needed in the upcoming phase.</p>

<p>P.S.: There's still more I can write in this blog and I'll keep on updating it. Hope you liked reading it!</p>

</div>