<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">First stadium game experience</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">30 DEC 2023 · 2 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="asc.jpg" alt="image"/>
<br><br>

<p class="text-indent">I have been through stadiums a lot but it was mostly for the purpose of sports day or playing a club cricket game. I had never watched a professional game so this time me and my friends decided to watch the Indian Super League's football match between our home team Mumbai City FC and Chennaiyin FC.  </p>

<p>It was the last game of the season in Mumbai's home turf at Andheri Sports Complex. The match begun at 8 p.m. and we had reached there on time. The crowd seemed decent as majority of them were either office workers or had come with their family or friends who never watched football. On the other hand there was a fan club of our home team who were constantly singing and had 3 different chants along with drums which provided vibes of a Europeans games. Both teams were having equal possession and particularly at the start Chennai had created a lot of chances. Thanks to our goalkeeper Lachenpa who made great saves and credits to our defenders for timely clearences. The half was constantly being rotated at midfield and the the defensive lines of Chennai. The positioning of their defenders was great and they were constantly blocking shots from our players. Nearing to the end of the first half there was a foul in the defensive line of Chennai and we got a penalty. Chhangte was our penalty taker and he missed the pen by hitting the crossbar. The first half ended with 0-0.</p>

<p>The second half began and Mumbai were playing attacking football. The Dutch midfielders of ours provided some great crosses to our wingers they completed several dribbles. We missed a few shots and we missed our chances in corner kicks. However in one of the corner kicks our set piece taker passed on the ball to Chhangte and after holding possession for a while, Chhangte scored a beautiful goal with his left foot. He did a knee slide and the crowd was filled fully with joy and enthusiasm. The fanclub was very loud and everyone of us started celebrating. The stadium was very much alive now and later on we scored 2 more goals and went of to win the final game of the season.</p>

<p>After the game, post match presentation was held and some of the players went to the stands to give autographs and have some words with the fans. Luckily we got a picture from one of our players, Gurkirat and everyone was happy with the experience they had at the stadium. It was really fun to watch a game in the stadium and we wish that we get to watch more games in the stadium further.</p>

</div>