<div class="container">
<div class="h6 pt-3"><a href="/bookshelf" class="font-weight-normal">BOOKSHELF📖</a></div>
<div class="h1 text-white" style="display:inline-block;">I came upon a lighthouse</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">8 MAR 2025 · 5 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="lighthouse.jpg" alt="image"/>
<br><br>
<p>This marks the first book I’ve completed in quite some time, reigniting my passion for reading as a cherished pastime. Moving forward, I intend to review more books as I finish them. For now, let’s delve into a comprehensive summary of this one.</p>

<p>The narrative is penned by Shantanu Naidu, an engineering alumnus from Pune who once served as a Design Engineer at TATA Elxsi. In this memoir, he recounts how his profound affection for animals forged an unexpected bond with Mr. Ratan Tata, the esteemed former chairman of the TATA Group. While Mr. Tata is widely revered for his altruism, the author offers glimpses into his personal life beyond the boardroom, shedding light on the evolution of their unique relationship.</p>

<p>The story begins with Shantanu founding Motorpaws, an initiative aimed at safeguarding stray dogs. Their inaugural campaign involved collaring 500 dogs, which remarkably reduced canine-related road accidents by 37%, garnering significant media attention. Aware of Mr. Tata’s fondness for dogs, Shantanu’s family, who had a historical connection with the TATA Group, reached out to him. Impressed by the idea, Mr. Tata invited them to his office in Mumbai and eventually invested in the project. This encounter laid the groundwork for a deepening friendship, with Shantanu frequently visiting Mr. Tata’s residence in the evenings.</p>

<p>As Shantanu prepared to pursue an MBA, he aced the GMAT and secured interviews at Harvard and Cornell, both alma maters of Mr. Tata. Although he received a recommendation letter from Mr. Tata for Harvard, he ultimately chose Cornell. Before departing, Mr. Tata hosted a farewell dinner, and the two shared a memorable drive to a restaurant in Mr. Tata’s Range Rover. Upon arriving in Ithaca, where Cornell is located, Shantanu grappled with loneliness during his first semester. During a term break, he returned to India and interned at TATA Trusts, expressing his aspiration to work there full-time post-graduation. Mr. Tata endorsed this dream, filling Shantanu with immense joy.</p>

<p>To combat his solitude upon returning to Cornell, Shantanu adopted a puppy named Winter, relocated to a new residence, and gradually found happiness. He also reconnected with Mr. Tata during visits to New York, where the trio—Shantanu, Mr. Tata, and Winter—enjoyed outings to shops and restaurants. Winter soon became a local celebrity in Ithaca. Additionally, Shantanu played a pivotal role in reviving the defunct "Cornell Motorcycle Association," which had been inactive since 1924.</p>

<p>After graduation, Shantanu moved to Colaba with Winter, ready to embark on his role at TATA Trusts, focusing on animal welfare. Shortly after, Mr. Tata offered him a position as his assistant within the TATA Group, following the departure of his previous aide. Overwhelmed with gratitude, Shantanu accepted the role.</p>

<p>In subsequent chapters, Shantanu reflects on his experiences as Mr. Tata’s assistant, the invaluable lessons he learned, and the demanding yet rewarding nature of their work. He recounts their business travels and the camaraderie they developed. Mr. Tata even attended Shantanu’s convocation at Cornell, further solidifying their bond.</p>

<p>Shantanu also expresses heartfelt appreciation for the three women in Mr. Tata’s office who supported him during his transition and played a crucial role in facilitating his initial meeting with Mr. Tata for Motorpaws. Their unwavering teamwork and mutual trust created an unbreakable dynamic, making it impossible for Mr. Tata to pinpoint any individual’s mistakes.</p>

<p>The concluding chapters highlight the Covid-19 pandemic, during which Shantanu aided starving animals and collaborated with police officers to ensure meal deliveries during the lockdown. Mr. Tata’s significant contributions to procuring safety equipment during the crisis are also highlighted. Shantanu concludes by acknowledging the profound impact of his family, friends, Mr. Tata, and his office colleagues on his life, likening his journey to a cinematic tale. This book is undoubtedly a compelling read!</p>

</div>
