<div class="container">
<div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
<div class="h1 text-white" style="display:inline-block;">Internship Scam</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">14 JAN 2024 · 3 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="scam.webp" alt="image"/>
<br><br>
<p>Nowadays, due to the increasing demand for tech and the majority being willing to get into the field of Computer Science, there has been an uprise of tech-based startups and there is so much competition for even one company that many aspirants end up without getting any internship. In such circumstances they end up applying in organizations which aren't really organizations. I've been in one such organization and experienced many such organizations around.</p>

<p>These companies promote themselves by telling that they provide opportunities for such students who haven't secured any internship which is a good motive. But there is a drawback here. People who are hired aren't really skilled and the atmosphere for building connections is not pleasant. They are so lenient with the hiring process that they don't realize what loss would incur in future. At the end the interns end up leaving the internship unwilling or incapable of completing the desired tasks.</p>

<p>Also there are some so called companies which provide opportunities to students in the name of internship. What they do is that they share a Google Form link, you have to fill it and that's it, you're hired. No interviews, no work samples, nothing. And at the end they don't even pay you. Such so called internships are of a month's duration and you don't solve any real life problems that will help the company. They'll circulate a pdf containing 2 to 3 tasks which are really basic tasks which can be done as a practice personal project. They don't really benefit you and there is no interaction with other interns. You'll have to complete these tasks before deadline, upload your project video on LinkedIn and that's all. After that you'll receive a certificate for which you have to pay some amount. Why is it called internship when you have to pay from the front. Such internships are certified scammers where they earn money through such means and it doesn't even benefit you further as it isn't really an internship. Avoid doing such internships.</p>

<p>I understand everyone must get an opportunity but not everyone deserves an internship. You must have a specific skill-set before applying which would test your actual potential. You just shouldn't expect an opportunity unless you're skilled and everything cannot be spoonfed. After you're skilled in something, not fully but you are able to work with majoirty of the problems of your domain, apply for paid internships. They might not necessarily pay you at the end but it's fine. They provide good exposure of industrial problem statements for you and they assign you tasks which will be used by them further to upscale their startup. These internships are the real meaning of internships where you're contributing to their development. This experience will benefit you further while you apply for big MNCs or any other further ventures. Completing such internships helps in building network and people start recognizing you.</p>

<p>Many people ask me as to when is the right time to do an internship. There is no specific criteria but I would suggest, in you first two years of graduation, work hard in garnering skills and then apply after your second year. Majority of the colleges provide a big vacation after second here and you can use it to your advantage for doing an internship. Ensure that the internship is of minimum two months so that you gain an all round experience of the company. Tech based internships can be done online as well as you just require a laptop and an internet connection without any machinery. If you aren't able to find time for an internship considering your college schedule then apply for online internships where they have flexible work hours. Ensure that any company doesn't ask any money from you, if this is the case then avoid such companies. Finally, doing an internships builds a foundation for you and you'll get a basic idea about the functioning of organizations and how to survive in such environments.</p>

<p>Signing off!</p>
</div>
