<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">Things I let go off in 2023</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="p-2 blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="p-2 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">19 DEC 2023 · 3 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block" src="sunset.avif" alt="image" style="height: 500px; object-fit:cover;"/>
<br><br>

<p>As 2023 draws to a close, I find myself get rid of some things that troubled me previously. We usually tend to carry unnecessary burden that would increase negativity and prevent us from bringing a change in our lives.</p>

<p>Here's what I'm saying goodbye to:</p>

<h4>1. Starting trouble:</h4>
<p>We as engineers tend to get interested in a lot of things but in the whilst of choosing one, we tend to do none. This lack of clarity in my engineering journey cost me a lot as I couldn't execute any of my plans while my other colleagues had achieved something and I was sitting idly. However in the latter half of 2023, I kept myself focused by doing one thing at a time and upto this day, I couldn't even think of achieving so much.</p>

<h4>2. Procrastination and fear of failure:</h4> 
<p>Due to my lower grades in one semester I started doubting on my capabilities and hailing from a middle class family, being surrounded by rich people, I had doubts on whether anyone would help me in getting out of this mentality. I was assuming myself as unsuccessful and nobody would like to befriend such a person. However as I got rid of the starting trouble, I made myself capable of facing others and made a lot of friends whom I can cherish as I progress further.</p>

<h4>3. Undeserving friends:</h4> 
<p>I had made a lot of virtual friends since 2020 and I was quiet keen on maintaining friendships with them. In 2022 I met a lot of them in Pune and they treated me well. However things started to fade as they would no longer behave the same way despite my good behaviour. They only befriended me as I was from a metropolitan city with a lot of knowledge and contacts. At that point I realized that keeping expectations from everyone would hurt a lot and realized the true value of people who valued and loved me and started being with them even if they had to do nothing with my professional life. They are true friends who despite of you being successful or unsuccessful will always be with you. I cutoff all the toxic friends' contact and 3 days before writing this blog, I deleted all the unnecessary contacts. I will definitely help them in future if they asked par kaam se kaam rakhenge khali :)</p>

<h4>4. Junk food:</h4> 
<p>I am built with a lot of appetite and my friends and homies call me a finisher for finishing the food if they are full. I used to feel hungry while travelling to and from college and would always snack upon something. I got rid of this habit recently when some foods started affecting my health and I embraced home cooked food and fruits. Whenever I think of outside food I feel nauseatic which is a good sign of the breakup. Virat Kohli once said, "If you're able to achieve control over your taste buds, you can achieve anything in life".</p>

<h4>5. Confidence in speech:</h4> 
<p>I was a bit shy and also underconfident even if someone with a naturally loud voice spoke even the softest things. It even cost me a good friendship due to a lack of communication when there was a misunderstanding. At that point I decided to be open with my thoughts and I would make people believe in my opinions which gathered a natural trust among them.</p>

<p>Overall everything changed for me in the 2nd half of 2023, when I found myself professionally stable and satisifed with everything I do. With all these qualities, I would like to have a great start in 2024 and carry on with the same momentum throughout as it forms the core phase of both my professional and personal life.</p>

</div>