<div class="container">
<div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
<div class="h1 text-white" style="display:inline-block;">Is Masters in Data Science in India worth it?</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">24 OCT 2024 · 3 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="Master-In-Data-Science.jpg" alt="image"/>
<br><br>

<p class="text-indent">Since the past 3-4 months I've been wondering about Masters in Data Science in India. My doubts regarding the quality of this program started flourishing when I got a call from Vellore Institute of Technology for the MSc in Data Science. I had a discussion with the person in detail and the conclusion I drew was that it is like a Data Science course for beginners. You have to utilise your weekend in learning something that you can learn online for free and they are awarding you a degree for it, plus you have to pay them a lot of money.</p>

<p>Not only this incident, I came across a profile on LinkedIn where the person was sharing his success story after his MTech in Data Science. He also uploaded his resume which looks like this.</p>

<img class="mx-auto d-block resume" height="650" src="masters_resume.jpg">

<p class="mt-4">Seriously? These are the academic projects they do in MTech? These projects can be done by even BTech students from 2nd and 3rd year without having a Computer Science or a Data Science degree. I have myself done these projects during Bachelors and I'm not even from a CS/DS background. And the hilarious thing is that I no longer add these projects in my resume, since I upgraded from these projects a long time ago.</p>

<p>Nowadays students get a postgraduate degree blindly even without looking at what they are going to learn. What I want to convey through this blog is that in Masters degree, instead of teaching these topics, we should move on to the advanced topics or build the architecture of models from scratch. Rather than focusing on the projects in the above resume, we can proceed towards research or teaching which is more suitable. These things are lacking in this field in India.</p>

<p>However, since IITs have started to introduce MTech in Data Science course, we can expect better things from them, otherwise I don't really see the scope in doing masters in data science from any other institutions. Instead, pursuing it in overseas universities in USA, Germany, UK and Ireland would be preferrable due to the scope in research and industry they offer.</p>
</div>