<div class="container">
<div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
<div class="h1 text-white" style="display:inline-block;">Effective Resume tips for Software Engineers</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="p-2 blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="p-2 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">4 DEC 2022 · 6 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block" src="orglinkedin.jpg" alt="image" style="height: 500px; object-fit:cover;"/>
<br><br>

<p>Linkedin is a widely used social networking platform around the globe for professionals. Not only you can secure a job or an internship through Linkedin but it also helps you to connect with various communities and professionals from different domains. It is necessary to have a strong Linkedin profile for that good first impression among all the viewers. Here are some steps for budding engineering undergrads with which you can build a good profile.</p>

<h4>Setting up profile</h4>
<p>The fundamental step for heads on is setting up your profile. Upload a good profile picture of yours (preferrably formals) or even a normal pic with a decent pose works. Write down a summary which describes your professionally and what are your ambitions. You can even mention your skills and current position in an organization and experience in your summary.</p>

<p>Add your educational details which contains your SSC, HSC and engineering institute details. Mention your academic duration, when it started and upto when are you pursuing. If you add your grades, even that works and is completely optional.</p>

<p>In the experience section add all the details regarding your internship or training like organization name and your position there. Even if you are a part of any NGO or student chapter of your college you can add those details. Don't forget to describe your role and tasks performed in the organization as it a good tactic to create an impact among viewers and recruiters. </p>
<p>Next, add on to your skills in the skills section as you can get endorsed by your connections for the skills they know you are really well versed at! The more endorsements you get, the more people know how good you're at your skill. You can also add some of your best projects and certifications regarding your courses or your licenses on various coding platforms.</p>

<p>Lastly, in the featured section add your resume as recruiters get to know regarding all your details at once without going through your Linkedin profile. Add in your Github profile as well for developers or your Codechef or Codeforces profile in case of competitive coders. You can also add on to your technical achievements or projects you are proud of.</p>

<h4>Growing your network</h4>
<p>Connections play a major role in your life. Making a good number of connections ensures that you will get your job done on time and most importantly cherish your connections for lifetime! Similarly, on Linkedin it is important to connect with those people who can provide you insights on your goals. It can be anyone from your age to renowned professionals or recruiters in that field. Apart from your field try to connect with people from other domains as well, as you get an idea of how other domains function and especially when you're planning to build a startup, it is necessary to have people from various fields.</p>

<p>To connect with people, visit their profile and tap on the connect button. Also go through their profile to check out on their skills so that they can be your helping hand in case you need them.</p>


<h4>Posting</h4>
<p>Posting content on Linkedin related to technical achievements or certifications ensures that you create a strong impact on the minds of the audience how determined you are. Some of the content you can post on Linkedin are your courses and certifications, internship related stuff, student chapters, projects, hackathons and even event management. You can even share you success stories!</p>


<h4>Endorsing</h4>
<p>The 'skills' section in Linkedin comprises of  'Endorsement' feature. Endorsement is all about rating an individual's skill. You can endorse the skills of your connections when you know they're really good at it. Similarly you can get endorsed as well if your connections have a great idea regarding your skillset.</p>


<h4>Following hashtags and pages</h4>
<p>Following hashtags on Linkedin is an effective methods is an effective method of getting the desired content on your feed. Suppose you follow #webdevelopmentinternship on Linkedin, you'll get Web Development related internship posts on your feed and it becomes easy for you to apply without wandering around several links! Not only for internships, you can follow any hashtag you wish and you'll get all the relevant content on your feed.</p>

<p>Similar to hashtags, you can also follow pages so that when they post something, it would eventually appear on your feed and get updates faster.</p>




<p>These were some of the fundamentals that every individual must preach on Linkedin. We'll also come across certain points that you must avoid doing on Linkedin.</p>

<ol type="1">
<p><li>Do not claim or mention any faulty details or skills that you're not aware of, or you aren't well versed with. You would eventually land into trouble while applying for internships or jobs or even when somebody slides into your messages for asking doubts. It's okay to have less skills than others but be true to yourself. Everyone has a different pace of learning and it's completely fine if their dream is getting fulfilled before yours.</li>
<li>Do not post irrelevant stuff. I've come across a number of Linkedin users (Engineering students) who post unnecessary certificates such as poster making, bhajans, essay writing and many more. Come on! These certificates hold no value in getting you a job. And please avoid posting any motivational quotes as Linkedin is not Facebook.</li>
<li>I don't need to mention this but avoid mocking others or making fun of them in the comments of their posts. Instead appreciate them if they have posted something relevant otherwise don't comment.</li>
<li>Never ask for your friends to endorse your skills. It's upon them if they want to endorse you if they feel you are good at it but don't beg!</li>
</ul>

<p>After ensuring you have followed the above points, you are good to apply for jobs and internships in the jobs section. Hope reading this blog would help you to build a strong Linkedin foundation. Do drop a comment below if you loved reading it or even if I missed out on something and what type of blogs you would need further!</p>

<p>Signing off!</p>

<p>(P.S- I wanted to write this blog as many of my friends and users were using Linkedin in a wrong way so these were my views as to how avoid mistakes and for new users how to organize your Linkedin.)</p>

</div>