<div class="container">
<div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
<div class="h1 text-white" style="display:inline-block;">Effective Resume tips for Software Engineers</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="p-2 blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="p-2 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">22 DEC 2023 · 5 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block" src="resume.png" alt="image" style="height: 500px; object-fit:cover;"/>
<br><br>

<p>Resume is like a fact file consisting of the details of your academic and professional excellence. For professionals to be able to shortlist candidates, a resume is usually preferred and your chances rely on the resume you make. So it is important to make such a resume that is of one page, covering all the necessary details in short and sweet manner.</p>

<p>Through this blog, I would be providing tips which would help every software engineer to keep in mind the important points to be included and the mistakes to be avoided.</p>
<br><br>

<h4>1. Must include sections</h4>
<p>These sections are a must in every resume and I have highlighted their importance from top to bottom.</p>
<ul>
    <li class="h5">Heading:</li> 
    <p>The heading section should contain your full name and your contact details. The contact details must include your contact number and email since those are the primary sources of contacting you. Additionally, you can also include your LinkedIn ID, GitHub ID and your portfolio links as well.</p>
    
    <li class="h5">Education:</li> 
    <p>Your educational background matters and mostly professionals look for a candidate pursuing a related degree and along with the grades. The details should contain the name of the degree first followed by the name of the institute, study duration and can include grades. Include the details of your graduation compulsorily. You can also include your HSC and SSC details as well which depends on the organization and the whitespace left to be covered.</p>

    <li class="h5">Work Experience:</li> 
    <p>It is preferred to have some work experience in a relevant field since that shows your industry exposure and clarity of the field. Work experience can be in the form of a job, internship or a research assistance. For a software engineer, it is preferred to have experience in tech related organizations as other fields such as sales, marketing, finance won't be of any use while applying for software related jobs.</p>
    <p>Try to include maximum two of your best internships or any kind of experiences and describe the work done by you in atleast three points. It is always essential if you highlight the keywords in bold. If you don't have any experience you can skip it or include your college socities or volunteering activities.</p>

    <li class="h5">Projects:</li> 
    <p>Projects is a testimony on how much have you practiced problems regarding your field so that you are answerable to any questions asked and further work on projects in a professional setup. As mentioned in the work experience section, include two to three of your best projects and describe them in atleast three points highlighting keyworks in bold.</p>

    <li class="h5">Related Coursework:</li> 
    <p>Inclusion of the topics which have been taught in your college or any external course related to your field holds certain credits pertaining to the theoretical and practical knowledge you obtained during the course.</p>

    <li class="h5">Skills:</li>
    <p>Perhaps the section which catches the eyes of professionals, skills are the programming languages, frameworks and tools that you know. You can segregate your skills based on the fields such as programming languages, data science, development, tools or languages, frameworks, tools, etc. You can also include your language proficiency in a particular language such as English, Hindi, your native language, foreign language, etc. In some templates you can rate your skills on a scale of 5 but you need not choose such templates unless you have less content.</p>
</ul>
<br><br>

<h4>2. Optional sections</h4>
<p>These sections can be added depending on the needs of the organization or in case you have some extra space in your resume to fill up the content to make the resume look more attractive.</p>
<ul>
    <li class="h5">Summary:</li>
    <p>Summary is describing your professional self in a few lines. If you ever made a resume, you must be wondering why I didn't place summary in the must include section. This is because wherever you apply for a job or internship, professionals are already aware regarding the role you have applied for and why have why do you want this role. However it's not a bad option to mention summary if you have less space in your resume and if you are making a full fledged CV, you can consider summary as a compulsory section.</p>

    <li class="h5">Publications:</li>
    <p>Many of us might not have publications, but in case you have just include it. Publications can be in the form of research papers or books you have written or co-authored. It will reflect your knowledge desire of getting into a field and if it is a book then surely it will be used for teaching others. Make sure to publish them through a good organization such as IEEE or Springer since both of these sites have a large database of papers published by many well known research scholars and you being one among them is indeed an achievement to be proud of. Include details such as the paper/book name, name of the confence/organization where it was published and mention the details in points as mentioned earlier.</p>

    <li class="h5">Achievements and Certifications:</li>
    <p>Emphasize on some of your best achievements such as your participation in various competitions, hackathons, etc. Additionally you can include the certificates obtained from a coding test or the courses you did. </p>

    <li class="h5">Positions of Responsibility</li>
    <p>There are some clubs and socities which act as non-profit organizations in your college whose role is conducting technical workshops, events and competitions. Including them is a good option as it reflects on your leadership, team-working and other skills.</p>

</ul>
<br><br>

<h4>3. Not to be included sections</h4>
<p>These sections must be avoided in any resume as they don't have any weightage during applications.</p>
<ul>

    <li class="h5">Photograph</li>
    <p>Including a photograph of yours is not recommended as during resume screening, unnecessary graphics adds additional noise into the system and it becomes difficult to shortlist profiles. Additionally, it may potray that you are trying to convey something regarding your background so that others might have a soft corner towards you. Hence. a resume should be made based on the skills you possess.</p>

    <li class="h5">Hobbies</li>
    <p>What do professionals have to do with what you like? They only care about what is required for their organization and how you can fit their with your potential and experience of the relevant field. So including hobbies can be one of the odd sections that doesn't have anything to do with your application.</p>

    <li class="h5">Points not related to software</li>
    <p>People generally include scholastic achievements such as sports, cultural, arts and many others. This is a software resume which should be elaborated on tech related points and all the other points are just recreational activities which has no correlation with software.</p>
</ul>
<br><br>

<h4>4. Resume building tools</h4>
<p>There are plently of resume building softwares available such as Canva, Novoresume, Adobe, Resume.io, etc. You can build you resume in any of these softwares but you may have to purchase their premium pack in order to make a resume of your desired template.</p>
<p>In such situtations, I prefer using <a href="https://www.overleaf.com">Overleaf</a> software based on LaTeX package where you can create n number of resumes for free. It contains a variety of templates published by open source contributors and you get multiple templates to choose for your desired resume. Not only resume, Overleaf also contains free templates for thesis, presentations, books and many more.</p>
<p> For reference I have included one of my resume which is a Data Analyst resume built on Overleaf. The template can be found <a href="https://www.overleaf.com/latex/templates/off-campus-template/ygwmktvmvhjm">here</a>.</p>
<p><em>(Switch to desktop mode for better user experience.)</em></p>
<img class="mx-auto d-block resume" height="1100" src="sharath_resume.jpg">
</div>