<div class="container">
<div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
<div class="h1 text-white" style="display:inline-block;">Wish I had this college life</div>
<br><br><hr>
<div class="card bg-transparent border-0">
    <div class="d-flex flex-row card-body">
        <div class="blog">
            <img class="rounded-circle" src="sharath.png" height="50" width="50">
        </div>
        <div class="pl-3 position-relative">
            <h6>SHARATH PAI</h6>
            <h6 class="text-muted font-weight-normal">29 DEC 2023 · 2 MIN READ</h6>
        </div>
    </div>
</div>
<br>
<img class="card-img-top mx-auto d-block blogimg" src="trip.jpg" alt="image"/>
<br><br>

<p class="text-indent">I am into my 4th year of engineering and find myself doing well in both professional and personal life. In such situations, we usually tend to go back towards the thoughts of the person we were in the past and where we have reached. In my case, I had dreamt of certain things earlier which I wish I had in my 4 years of engineering.</p>

<p>I had made friends from different parts of the state and was quiet interested in exploring their cultures. So I met a few of my friends from Pune and Solapur in the previous year, had healthy discussions with them and loved the way they were experiencing life. They also gave me a tour of their college campus. Their campuses were huge surrounded by wonderful structures, something which I could never get in Mumbai colleges. They usually lived in hostels and had good bonds with their roommates. The night life in those areas brings in joy to anyone living there. You just need a vehicle and some friends to travel along with you in the night. The air is fresh all the time, there isn't much traffic during the night. Pune is quiet developed and it seems like we are moving through a posh area. Solapur is also fun driving through the night as we do not encounter any kind of traffic signals. Experiencing these nostalgic moments, I felt I also needed such a life where I could make friends for lifetime along with a lot of memories in hand with no household duties.</p>

<p>I'm still in touch with many of them and we talk sometimes through phone calls or just have a chat. While listening to their stories sometimes makes me wonder that I should have selected my desired college far away from home where I would actually learn to live an independent life but nevertheless I am happy with what I have currently and stay with my parents and all my friends around and I am destined to have such friends from different parts with whom I exchange all these joyful experiences.</p>

</div>