<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="blogLogo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Hi, I'm Sharath. Welcome to my blog page! Here I'll be expressing my thoughts on various aspects of life and learning that I garner in daily life." />
  <link rel="apple-touch-icon" href="blogLogo.png" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/{{style}}" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <title>{{title}}</title>
</head>

<body style="background-color: rgb(38, 39, 39);">
  {{!Navigation}}
  <nav class="navbar navbar-expand-md navbar-custom fixed-top mb-5">
    <div class="container">
      <ul class="navbar-nav d-flex flex-row">
      <li><a class="navbar-brand text-deocaration-none">Sharath Pai</a></li>
        
          <li class="nav-item ml-2"><a class="nav-link" class="text-decoration-none text-white" href="/">HOME</a></li>
          <li class="nav-item ml-2"><a class="nav-link" class="text-decoration-none text-white" href="/about">ABOUT</a></li>
          <li class="nav-item ml-2"><a class="nav-link" class="text-decoration-none text-white" data-toggle="modal" data-target="#myModal">SOCIALS</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="text-center text-dark modal-title">MY BLOG ACCOUNTS</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="d-flex flex-row">
            <div class="col-lg-4"><a href="https://medium.com/@sharathpai107"><img src="medium.png" class="mx-auto d-block rounded-circle object-fit-contain" height="50" width="50"></a></div>
            <div class="col-lg-4"><a href="https://www.blogger.com/profile/05406037411646438207"><img src="blogger.png" class="mx-auto d-block rounded-circle object-fit-contain" height="50" width="50"></a></div>
            <div class="col-lg-4"><a href="https://www.quora.com/profile/Sherry-TYR"><img src="quora.png" class="mx-auto d-block rounded-circle object-fit-contain" height="50" width="50"></a></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <br /><br /><br />

  {{{body}}}

  {{!Footer}}
  <br /><br />
  <div class="container-fluid card" style="background:black;">
  <div class="container p-3">
    <div class="card bg-transparent">
      <div class="row">
        <div class="col-lg-6 brand" style="font-size:22px; color:white;">Copyright © 2023 Sharath's Blogspot</font></div>
        <div class="col-lg-6 links">
          <span><a class="text-decoration-none" href="#latest">Latest Posts</a></span>
          <span><a class="text-decoration-none" href="https://twitter.com/Sharath1072">Twitter</a></span>
          <span><a class="text-decoration-none" href="https://www.linkedin.com/in/sharathpai107/">Linkedin</a></span>
        </div>
      </div>
    </div>
  </div>
  </div>


</body>

</html>