<div class="container">
    <h1 class="mb-4">About</h1>
    <p>Hey I'm Sharath. I'm an Electronics and Communication Engineering undergrad from Mumbai University. Welcome to my blog. This blog has been created using ExpressJS and Handlebars template engine.</p>
    <br/><br/>

    <h3>MY PROFESSIONAL SELF</h3>
    <p>I am a Data Scientist with a passion for Analytics, Neural Networks, Natural Language Processing and working on research projects.</p>
    <p>I have authored a research paper and a book, both in Machine Learning published through IEEE.</p>
    <p>Previously, I worked as a Web Developer and UI/UX designer for a while which now serve as my secondary interest. I am not actively working on these fields currently but I still believe I can make a good developer and designer :)</p>
    <br/><br/>

    <h3>MY PERSONAL SELF</h3>
    <p>I am a hodophile who loves to travel to new places and make new friends. While visiting places I always take pictures of green-lush nature which soothens my mind and soul.</p>

    <p>I represented my school and colleges in their athletics and kabaddi teams and I also played club cricket at the U-15 level. I am also a former professional cyclist cycling through various spots inside and at the outskirts of Mumbai in various groups. Additionally, I sometimes play badminton in my locality as a rehabiliation to daily work. I am fond of watching sports and games such as Cricket, Football and Kabaddi. </p>

    <p>I also love to express my thoughts and learnings about personal and professional self by writing blogs. I am an active author in famous blog sites such as Medium, Blogger and Quora.</p>

    <p>I am also a foodie who is comfortable with any kind of food be it Continental, Indian or even homemade. My friends and family call me a finisher due to my apetite as I am the one to finish the food if others are full :P</p>
    <br/><br/>

    <h3>My most read blogs are:</h3>
    <a href="from-a-community-to-a-startup" style="color:white; text-decoration:underline; font-size:21px">Journey from a community to a startup</a><br><br>
    <a href="organize-your-linkedin" style="color:white; text-decoration:underline; font-size:21px">Organize Your LinkedIn</a>
</div>