{{!-- Main Page: blogData.handlebars --}}

<div class="container">
    <div class="h1 text-white">Bookshelf📖</div>
    <hr>

    <div class="row">
        <div class="row">
            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top mx-auto d-block" src="lighthouse.jpg" alt="image"
                style="height: 200px; object-fit:cover;" />
                <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/bookshelf" class="font-weight-normal">BOOKSHELF📖</a></div>
                <div class="card-title h4 text-white">I came upon a lighthouse </div>
                <div class="card-text">
                    <p style="font-size: 18px;">This marks the first book I’ve completed in quite some time, reigniting my passion for...</p>
                </div>
                <div class="text-center">
                    <a class="text-white" href="i-came-upon-a-lighthouse">
                    <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
                </div>
                </div>
            </div>
        </div>
    </div>