{{!-- Main Page: blogData.handlebars --}}

<div class="container">
    <div class="h1 text-white">Computer Science</div>
    <hr>

    <div class="row">
        <div class="row">
            <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top mx-auto d-block" src="Master-In-Data-Science.jpg" alt="image"
                style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                <div class="card-title h4 text-white">Is Masters in Data Science in India worth it?</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Since the past 3-4 months I've been wondering about Masters in Data Science in India. My doubts regarding the quality of...</p>
                </div>
                <div class="text-center">
                    <a class="text-white" href="is-masters-in-data-science-in-india-worth-it">
                        <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
                </div>
            </div>
        </div>

            <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top mx-auto d-block" src="dark-truth.avif" alt="image"
                style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                <div class="card-title h4 text-white">The truth behind AI Engineer role</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Artificial Intelligence is a rapidly growing industry and the demand for AI Engineers has started to flourish. Before moving...</p>
                </div>
                <div class="text-center">
                    <a class="text-white" href="the-truth-behind-ai-engineer-role">
                        <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
                </div>
            </div>
        </div>

            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top mx-auto d-block" src="django.webp" alt="image"
                    style="height: 200px; object-fit:cover;" />
                <div class="card-body text-left p-0">
                    <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                    <div class="card-title h4 text-white">Journey into Django</div>
                    <div class="card-text">
                        <p style="font-size: 18px;">I previously wanted to get into MERN Stack Development, but since transitioning into the field of AI, I have started working with Django frequently and...</p>
                    </div>
                    <div class="text-center">
                        <a class="text-white" href="journey-into-django">
                            <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top" src="github.jpg" alt="image" style="height: 200px; object-fit:fill;" />
                <div class="card-body text-left p-0">
                    <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                    <div class="card-title h4 text-white">Deleting past GitHub commits</div>
                    <div class="card-text">
                        <p style="font-size: 18px;">Sometimes we might have a lot of commits in a particular GitHub
                            repository and it looks kinda annnoying. In this case we might look to delete all the
                            commits...</p>
                    </div>
                    <div class="text-center"><a class="text-white" href="deleting-past-github-commits"><button
                                type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
                </div>
            </div>

            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top" src="resume.png" alt="image" style="height: 200px; object-fit:cover;" />
                <div class="card-body text-left p-0">
                    <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                    <div class="card-title h4 text-white">Best Data Science YouTuber</div>
                    <div class="card-text">
                        <p style="font-size: 18px;">I gained interest in machine learning while studying for one of my
                            university exams. I didn't attend lectures so I had to study the concepts from YouTube...
                        </p>
                    </div>
                    <div class="text-center"><a class="text-white" href="best-data-science-youtuber"><button
                                type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
                </div>
            </div>


            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top" src="ai.jpg" alt="image" style="height: 200px; object-fit:fill;" />
                <div class="card-body text-left p-0">
                    <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                    <div class="card-title h4 text-white">Artificial Intelligence Roadmap</div>
                    <div class="card-text">
                        <p style="font-size: 18px;">In this blog, I've cut short all the key topics which would help
                            learners to master the domain of Artificial Intelligence and see what roles require...</p>
                    </div>
                    <div class="text-center"><a class="text-white" href="artificial-intelligence-roadmap"><button
                                type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
                </div>
            </div>

            <div class="col-lg-4 card border-0 bg-transparent mt-3">
                <img class="card-img-top" src="react.png" alt="image" style="height: 200px; object-fit:cover;" />
                <div class="card-body text-left p-0">
                    <div class="h6 pt-3"><a href="/cs" class="font-weight-normal">COMPUTER SCIENCE</a></div>
                    <div class="card-title h4 text-white">ReactJS: Complete guide</div>
                    <div class="card-text">
                        <p style="font-size: 18px;">A tutorial in which you will learn to create, deploy and host a
                            React App along
                            with extra Git commands useful for deployment into production...</p>
                    </div>
                    <div class="text-center"><a class="text-white" href="reactjs-guide"><button type="button"
                                class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
                </div>
            </div>

        </div>
    </div>