<div class="container">
  <div class="row">
    <div class="col-lg-3"><img class="mx-auto d-block rounded-circle" src="sharath.png" height="250" width="250"></div>
    <div class="col-lg-9 mt-3">
      <h1>Hi, I'm Sharath.</h1>
      <p style="font-size: 21px;">Namaste! You'll find me here noting down on what I'm learning and sharing my journey. If you read anything here and have feedback, corrections or thoughts, I'd love to hear from you.</p>
      <h6><a href="/about" class="text-white">ABOUT ME</a></h6>
    </div>
  </div>
  <hr/>
</div>
    
<div class="container">{{> blogData}}</div>


  
 