{{!-- Main Page: blogData.handlebars --}}

<div class="container">
    <div class="h1 text-white">Life</div>
    <hr>

    <div class="row">
        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="sharath23.jpg" alt="image" style="height: 200px; object-fit:fill;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
                <div class="card-title h4 text-white">2023 Unwrapped</div>
                <div class="card-text">
                    <p style="font-size: 18px;">The year of 2023 was a stunning year filled with plethora of things. From enjoyments to sacrifice, I experienced it all in the year. I'll describe the year in...</p>
                </div>
                <div class="text-center"><a class="text-white" href="2023-unwrapped"><button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>


        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="asc.jpg" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
                <div class="card-title h4 text-white">First stadium game experience</div>
                <div class="card-text">
                    <p style="font-size: 18px;">I have been through stadiums a lot but it was mostly for the purpose of sports day or playing a club cricket game. I had never watched a professional game...</p>
                </div>
                <div class="text-center"><a class="text-white" href="first-stadium-game-experience"><button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="trip.jpg" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
                <div class="card-title h4 text-white">Wish I had this college life</div>
                <div class="card-text">
                    <p style="font-size: 18px;">I am into my 4th year of engineering and I find myself doing well in both professional as well as personal life. In such situations, we usually tend to go…</p>
                </div>
                <div class="text-center"><a class="text-white" href="wish-i-had-this-college-life"><button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="sunset.avif" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
                <div class="card-title h4 text-white">Things I let go off in 2023</div>
                <div class="card-text">
                    <p style="font-size: 18px;">As 2023 draws to a close, I find myself get rid of some things that troubled
                        me previously. We usually tend to carry unnecessary burden that would…</p>
                </div>
                <div class="text-center"><a class="text-white" href="things-i-let-go-off-in-2023"><button type="button"
                            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="stranger.jpg" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/life" class="font-weight-normal">LIFE</a></div>
                <div class="card-title h4 text-white">Dealing with a stranger</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Flashbacks to July 2020: It was the year when we were about to appear for our
                        MHT-CET exam. Our exams had been already delayed by three months ...</p>
                </div>
                <div class="text-center"><a class="text-white" href="dealing-with-a-stranger"><button type="button"
                            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>
        
    </div>
</div>