{{!-- Main Page: blogData.handlebars --}}

<div class="container">
    <div class="h1 text-white">Professional</div>
    <hr>

    <div class="row">
        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top mx-auto d-block" src="scam.webp" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
                <div class="card-title h4 text-white">Internship Scam</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Nowadays, due to the increasing demand for tech and the majority being willing to get into the field of Computer Science, there has been an uprise of...</p>
                </div>
                <div class="text-center">
                    <a class="text-white" href="internship-scam">
                        <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top mx-auto d-block" src="resume.png" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
                <div class="card-title h4 text-white">Effective Resume tips</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Resume is like a fact file consisting of the details of your academic and
                        professional excellence. For professionals to be able to shortlist candidates...</p>
                </div>
                <div class="text-center">
                    <a class="text-white" href="effective-resume-tips-for-software-engineers">
                        <button type="button" class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="community.jpg" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
                <div class="card-title h4 text-white">From a community to a startup</div>
                <div class="card-text">
                    <p style="font-size: 18px;">Swift Undergrads is a community that I founded in 2022 which was started by me and two of my colleagues in 2021 formerly known as Admission...</p>
                </div>
                <div class="text-center"><a class="text-white" href="from-a-community-to-a-startup"><button type="button"
                            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>

        <div class="col-lg-4 card border-0 bg-transparent mt-3">
            <img class="card-img-top" src="orglinkedin.jpg" alt="image" style="height: 200px; object-fit:cover;" />
            <div class="card-body text-left p-0">
                <div class="h6 pt-3"><a href="/professional" class="font-weight-normal">PROFESSIONAL</a></div>
                <div class="card-title h4 text-white">Organize your LinkedIn</div>
                <div class="card-text">
                    <p style="font-size: 18px;">LinkedIn is a widely used social networking platform around the globe for
                        professionals. Not only you can secure a job or an internship...</p>
                </div>
                <div class="text-center"><a class="text-white" href="organize-your-linkedin"><button type="button"
                            class="btn w-100 mb-4 btn-outline-light">READ FULL BLOG</button></a></div>
            </div>
        </div>
        
    </div>
</div>