* {
    color: grey;
}

h4, .h5 {
    color: rgb(189, 189, 189);
}

h6 {
    color: white;
}

hr {
    border-color: grey;
}

.blog img {
    position: relative;
    
}

p {
    font-size: 18px;
    text-align: justify;
}

ul, ol {
    padding-left: 0;
}

ol li {
    font-size: 18px;
}

pre, code {
    color: white;
}

mark {
    background: black;
}

.blogimg {
    height: 500px;
    object-fit: cover;
}
